# Server Configuration
PORT=5000
NODE_ENV=development
JWT_SECRET=apex_binary_jwt_secure_secret_2026

# Database (MongoDB Atlas)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/apex_binary?retryWrites=true&w=majority

# Safaricom M-Pesa Daraja API (Optional: Test mode active if omitted)
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_SHORTCODE=174379
MPESA_CALLBACK_URL=https://your-domain.onrender.com/api/wallet/deposit/callback
